.mainTitle {
  text-align: center;
  margin: 1%;
}

ul {
  margin: 1%
}

li .tab {
  margin: 0px;
}

footer {
  text-align: center;
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
  margin: 1%;
}

.template {
  display: none;
}

.articleLayout {
 text-align: center;
 clear: both;
 margin: auto;
}

#about, #contact {
  width: 30%;
  margin-left: 30%;
  margin-right: 30%;
}
