* {
  background-color: white;
  color: black;
}

ul,li {
  background-color: black;
  color: white;
}

#repos li {
  background-color: white;
  color: black;
}

.menu {
  background-color: black;
  color: white;
  text-decoration: none;
}

.mainTitle {
  font-size: 300%;
}

#T {
  color: #0ed528;
}
