.mainTitle {
  text-align: center;
}

footer {
  text-align: center;
  clear: both;
}

img {
  width: 250px;
}

.template {
  display: none;
}

.articleLayout {
 text-align: center;
 clear: both;
 margin: auto;
}

#about, #contact {
  width: 30%;
  margin-left: 30%;
  margin-right: 30%;
}
